@import url('https://fonts.googleapis.com/css2?family=Asap:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

body {
  background-image: url("images/Christmas_Vacation.png");
  background-size: cover;
  padding: 20px;
}

header {
  background: white;
  padding: 20px;
}

header > h1 {
  color: #171717;
  text-align: center;
  font-size: 48px;
  font-family: Asap, sans-serif;
}
