* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

body {
  background-image: url("images/Christmas_Vacation.png");
  background-size: cover;
  padding: 20px;
}

header {
  background: white;
  padding: 20px;
}
